div.P{
	font-size: 50px;
	margin-top: 50px;
	margin-left: 40px
}

div.P2{
	float: right;
	font-size: 30px;
	margin-top: -55px;
	margin-right: 0px;
}

div.progressos1{
	margin-left: 40px;
	
}

div p.P3{
	margin-left: 40px;

}

hr.Linha{
	margin-left: 40px;
	margin-right: 0px;
}

div h3.Título{
	margin-left: 40px;
}

div.Div_Imagem{
	float: left;
}

div img.Imagem{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 40px;
	margin-top: 10px;
}

div.Nomes{
	float: left;
}

div p.CAN1{
	margin-top: 10px;
	color: black;
	font-size: 19px;
	margin-left: 10px;
}

div small.C1{
	margin-top: -10px;
	font-size: 15px;
	margin-left: 10px;
}

div.Info{
	width: 80%;
}

div.Votos{
	float: right;
}

div p.Texto{
	margin-top: 10px;
	font-size: 20px;
	float: right;
	
}

div small.Pequeno{
	margin-top: -10px;
	font-size: 18px;
	float: right;
}

div.progressos2{
	margin-left: 12px;
	margin-right: -870px;
}

div.progressos3{
	margin-left: 12px;
	margin-right: -850px;
}

div.progressos4{
	margin-left: 12px;
	margin-right: -860px;
}

div.progressos5{
	margin-left: 12px;
	margin-right: -822px;
}

div.progressos6{
	margin-left: 12px;
	margin-right: -843px;
}

div.progressos7{
	margin-left: 12px;
	margin-right: -821px;
}

div.progresso8{
	margin-left: 12px;
	margin-right: -805px;
}

div.progressos9{
	margin-left: 12px;
	margin-right: -850px;
}

div.progressos10{
	margin-left: 12px;
	margin-right: -847px;
}

div.progressos11{
	margin-left: 12px;
	margin-right: -811px;
}

div.progressos12{
	margin-left: 12px;
	margin-right: -850px;
}

div.progressos13{
	margin-left: 12px;
	margin-right: -2000px;
}